<% @title = "Compass Poliedro" %>

<h2>Grid Examples</h2>


<ul>
	<li><a href="<%= url_for 'grid.html' %>">Basic Grid</a></li>
	<li><a href="<%= url_for 'grid-gutter.html' %>">Grid With Gutter</a></li>
	<li><a href="<%= url_for 'grid-responsive.html' %>">Responsive Grid</a></li>
	<li><a href="<%= url_for 'grid-nested.html' %>">Nested Grid</a></li>
	<li><a href="<%= url_for 'offset.html' %>">Offset</a></li>
	<li><a href="<%= url_for 'center.html' %>">Center</a></li>
	<li><a href="<%= url_for 'push-pull.html' %>">Push-Pull</a></li>
</ul>